body{
    margin: 0;
}

#muscle-map-container{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.muscle-map{
    position: absolute;
    height: 90vh;
    width: 100%;
}

#muscle-map-svg{
    z-index: 99;
    pointer-events: none;
}

#muscle-map-enable-svg{
    z-index: 98;
}

#muscle-map-enable-svg > svg > * { 
    fill: transparent;
}

svg{
    width: 100%;
    height: 100%;
}


